body{
    background-color: #fff;
    text-align: center;
}
h1{
    color: red;
    font-family: system-ui;
    text-align: left;
    padding: 0 20px;
    text-decoration: underline;
    margin-bottom: 0px;
}
#header{
    position: sticky;
    top: 0px;
    padding: 5px;
    background-color: #fff;
}
nav{
    margin: 15px auto;
   background-color: #3a5a40;
   padding: 40px;
}
ul{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
li{
    margin: 0px 20px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-size: x-large;
    font-weight: bolder;
}
li a:hover{
    text-decoration: underline;
    font-weight: lighter;
    color: aqua;
    transition: 0.2s ease-in;
}

#pop{
    position: relative;
}
#pop #num{
    position: absolute;
    top: -20px;
    right: -20px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    padding: 0.5rem;
    margin: -10px;
}

#inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: end;
}
#inputs h3{
    margin: 10px;
    padding: 10px;
    font-weight: bolder;
    font-size: 2rem;
    background-color: #3a5a40;
    color: #fff;
    border-radius: 1rem;
}
#inputs #item-total{
    width: 10%;
    height: 3vh;
    float: right;
    margin-right: 12rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    font-size: 1.5rem;
}


.purchase-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
    margin: 3rem 12rem;
    border: 3px solid #dddddd;
}

.purchase-item img{
    width: 200px;
}

.button{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
button{
    padding: 10px;
    width: 150px;
    margin: 20px;
    font-size: 1rem;
    font-weight: 900;
    border: 1px solid #dddddd;
    border-radius: 1rem;
}
.select-button:hover{
    background-color: green;
    font-weight: lighter;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.remove:hover{
    background-color: red;
    font-weight: lighter;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.purchase{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid #dddddd;
    padding: 20px;
}

.purchase #purchase-detail{
    width: 350px;
    text-align: left;
    padding: 20px;
    font-weight: 500;
}
.purchase #purchase-detail:hover{
   padding-top: 2.5rem;
    transition: 0.5s ease;
    transform: scale(1.5, 1.1);
    background-color: rgba(128, 122, 122, 0.8);
    color: white;
    cursor: pointer;
}

.purchase h4{
    font-size: 1.5rem;
    background-color: #999999;
    border-radius: 1rem;
}
.purchase .price{
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
}